name : Testing Screen Reader
on :
  push: 
    branches:
      - main

jobs:
  a11y-test:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Configure accessibility permissions
        run: npx guidepup setup

      - name: Run accessibility tests
        run: npm test